<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Namaste</title>
  

  <!--Materealize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
          
  <link rel="stylesheet" href="/styles/app.css">
<!-- calendar -->
<link rel="stylesheet" href="/styles/dhtmlxscheduler.css">
  
  {{{_sections.head}}}
</head>
<body >
    {{{body}}}
    <!-- calendar -->
    <script src="/styles/js/dhtmlxscheduler.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <!--Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/styles/customapp.js"></script>
</body>
</html>