   <!-- header--> 
      <div class="app-topbar"><img id="logo" src="/styles/images/namaste.png" alt="Namaste" style="width:50px;height:50px;">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Namaste</div>
         <a id="logout-link" href="/logout">Logout</a>
      </div>
<!-- personalized salutation -->       
        <div class="personalized-salutation center">
          Good <div class="salutation"></div>
          <div class="first-name"></div>
          Do you need some extra motivation? <br> How can I inspire you today?
        </div>
<!-- feelings buttons -->
        <!-- go to page 4 -->
        <div class="app-section center">
            <a href="quote" class="waves-effect waves-light btn"><i class="material-icons left">Joy/ Happiness/ Love</i></a>
          </form>
            <br><br>
            <a href="quote" class="waves-effect waves-light btn"><i class="material-icons left">Fear/ Anxiety/ Anger</i></a>
            <br><br>
            <a href="quote" class="waves-effect waves-light btn"><i class="material-icons left">Sadness/ Grief/ Defeated</i></a>
            <br><br>
            <a href="quote" class="waves-effect waves-light btn"><i class="material-icons left">Loved ones</i></a>
            <br><br>
        </div>
<!-- enter content and save  -->
        <div class="input-field center">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">A place for your thoughts</label>
          <a class="waves-effect waves-light btn"><i class="material-icons left">Save your thoughts</i></a>
        </div>
<!-- sign up for daily quote notifications -->
        <!-- go to page 7 -->
        <div class="input-field center">
          <a href="dailyquote" class="waves-effect waves-light btn"><i class="material-icons left">Daily Quote Notification</i></a>
        </div>         